<o-form-layout-manager attr="Post" mode="tab" title="POST">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PostTable" 
            service="Post" 
            entity="Post" 
            title="POST"
            keys="post_id"
            columns="post_id;user_id;title;content;created_at" 
            header-actions="R;D"
            visible-columns="post_id;user_id;title;content;created_at"  
            sort-columns="post_id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #post_id attr="post_id" title=" post_id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="user_id;username"
        parent-keys="post_id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #title attr="title" title="title" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #content attr="content" title="content" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #created_at attr="created_at" type="date" label="created_at" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>